* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
    display: flex;
    background-color: darkslategrey;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: dimgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.navbarLeft {
    height: 100px;
    width: 60%;
    justify-content: start;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
}

.navbarLeft h1 {
    color: black;
    font-size: 60px;
    padding: 10px;
}

.navbarLeft ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-size: larger;
}

.navbarLeft ul li {
    padding: 5px;
    opacity: 75%;
    color: black;
}

.navbarLeft ul li:hover {
    opacity: 100%;
    /* box-shadow: 0 0 10px rgb(124, 124, 124); */
    cursor: pointer;
}

.searchBar {
    height: 100%;
    width: 45%;
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.navbarRight {
    height: 100px;
    width: 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbarRight button {
    width: 40%;
    font-size: 20px;
    color: black;
    height: 50px;
    margin: 10px;
    border-radius: 8px;
    background-color: grey;
}

.navbarRight button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px ghostwhite;
}

.mainLeft {
    width: 60%;
    height: 2000px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.userProfile {
    width: 100%;
    height: 1000px;
    margin-top: 120px;
    background-color: darkslategray;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.upperBanner {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: dimgrey;
    position: relative;
    z-index: 5;
}

.details {
    height: 600px;
    width: 100%;
    display: flex;
    background-color: darkslategray;
    position: relative;
    z-index: 5;
    justify-content: left;
    align-items: flex-end;
    color: black;
}

.profilePic {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    bottom: -200px;
    left: 30px;
    z-index: 60;
    object-fit: cover;
}

.details h2 {
    font-size: 50px;
    position: relative;
    bottom: 350px;
    left: 50px;
    z-index: 30;
    color: black;
}

.details h3 {
    z-index: 10;
    color: black;
}

.subheader {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: space-evenly;
}

.subheader ul {
    list-style: none;
    font-size: 25px;
    color: black;
    display: flex;
    flex-wrap: wrap;
}

.details p {
    margin-bottom: 50px;
    padding: 10px;
}

.education {
    width: 100%;
    height: 800px;
    display: flex;
    background-color: darkslategray;
    color: black;
    border: 2px solid black;
}

.educationBanner {
    width: 100%;
    height: 80px;
    background-color: dimgrey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.educationBanner h2 {
    opacity: 75%;
    font-size: 40px;
    text-align: left;
    color: black;
}

.mainRight {
    width: 35%;
    height: 2000px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.requests {
    width: 100%;
    height: 750px;
    border: 2px solid black;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: darkslategrey;
    justify-content: flex-start;
}

.requestBanner {
    width: 100%;
    height: 80px;
    background-color: darkslategrey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

.requestBanner p {
    font-size: 40px;
    opacity: 50%;
    color: black;
}

.pendingRequests {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pendingRequests p {
    opacity: 75%;
    color: black;
    font-size: 40px;
}

.requests img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.connections {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: darkslategrey;
    border: 2px solid black;
}

.connectionsBanner {
    width: 100%;
    height: 80px;
    background-color: dimgrey;
    color: black;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.totalConnections {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#totalConnectionsval {
    font-size: 25px;
    opacity: 50%;
    color: black;
}

.connectionsBanner p {
    font-size: 40px;
    text-align: left;
}

.connections img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.contact {
    width: 50%;
    height: 50px;
}

.contact p {
    font-size: 30px;
    margin: 2px;
}