* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

body {
    display: flex;
    background-color: #061e3e;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: #061e3e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.navbarLeft {
    height: 100px;
    width: 1000px;
    justify-content: start;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
}

.navbarLeft h1 {
    color: #c4315f;
    font-size: 60px;
    padding: 10px;
}

.navbarLeft ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #851e3e;
    font-size: larger;
}

.navbarLeft ul li {
    padding: 5px;
    opacity: 75%;
    color: #c4315f;
}

.navbarLeft ul li:hover {
    opacity: 100%;
    /* box-shadow: 0 0 10px rgb(124, 124, 124); */
    cursor: pointer;
}

.navbarRight {
    height: 100px;
    width: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbarRight button {
    width: 200px;
    font-size: 20px;
    color: #c4315f;
    height: 50px;
    margin: 10px;
    border-radius: 8px;
    background-color: #251e3e;
}

.navbarRight button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #851e3e;
}

.mainLeft {
    width: 60%;
    height: 2000px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.userProfile {
    width: 100%;
    height: 1000px;
    margin-top: 120px;
    background-color: #651e3e;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #851e3e;
}

.upperBanner {
    width: 100%;
    height: 400px;
    display: flex;
    background-color: #251e3e;
}

.upperBanner img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    position: relative;
    top: 250px;
    left: 50px;
    border-radius: 50%;
    z-index: 50;
}

.details {
    height: 600px;
    width: 100%;
    display: flex;
    background-color: #651e3e;
    z-index: 10;
    justify-content: left;
    align-items: flex-end;
    color: #c4315f;
}
.profilePic {
    width: 25%;
    height: 25%;
    align-self: flex-start;
}

.details h2 {
    font-size: 50px;
    position: relative;
    bottom: 350px;
    left: 50px;
    z-index: 30;
    color: #c4315f;
}

.details img {
    width: 12px;
    height: 20px;
    z-index: 10;
}

.details h3 {
    z-index: 10;
    color: #c4315f;
}

.subheader {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: space-evenly;
}

.subheader ul {
    list-style: none;
    font-size: 25px;
    color: #c4315f;
    display: flex;
    flex-wrap: wrap;
}

.details p {
    margin-bottom: 50px;
    padding: 10px;
}

.education {
    width: 100%;
    height: 800px;
    display: flex;
    background-color: #651e3e;
    color: #c4315f;
    border: 2px solid #851e3e;
}

.educationBanner {
    width: 100%;
    height: 80px;
    background-color: #251e3e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.educationBanner h2 {
    opacity: 75%;
    font-size: 40px;
    text-align: left;
    color: #c4315f;
}

.mainRight {
    width: 35%;
    height: 2000px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.requests {
    width: 100%;
    height: 750px;
    border: 2px solid #851e3e;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #651e3e;
    justify-content: flex-start;
}

.requestBanner {
    width: 100%;
    height: 80px;
    background-color: #251e3e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

.requestBanner p {
    font-size: 40px;
    opacity: 50%;
    color: #c4315f;
}

.pendingRequests {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pendingRequests p {
    opacity: 75%;
    color: #c4315f;
    font-size: 40px;
}

.requests img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.connections {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: #651e3e;
    border: 2px solid #851e3e;
}

.connectionsBanner {
    width: 100%;
    height: 80px;
    background-color: #251e3e;
    color: #c4315f;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.totalConnections {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: grey;
    /* text-align: bottom; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#totalConnectionsval {
    font-size: 25px;
    opacity: 50%;
    color: #c4315f;
}

.connectionsBanner p {
    font-size: 40px;
    text-align: left;
}

.connections img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
}

.contact {
    width: 50%;
    height: 50px;
}

.contact p {
    font-size: 30px;
    margin: 2px;
}